/* Todolist main ui */
.kk-todolist-ui{
	min-width:320px; /* controls the minimum width of whole ui */
}


/* Todolist header ui */

.kk-todolist-header-ui{
	display: flex;
	width: 100%;
}
.kk-todolist-header-ui > div{
	margin: 2px;
	flex-grow:0;	
}
.kk-todolist-header-ui .kk-todolist-header-textbox{
	flex-grow:1;	
}

/* Todolist items ui */
.kk-todolist-row{
	display: flex;	
	width: 100%; /* for larg screen width> 960px*/
	flex-wrap: nowrap;
}

.kk-todolist-row .kk-todolist-done,
.kk-todolist-row .kk-todolist-priority,
.kk-todolist-row .kk-todolist-delete {
	flex-grow:0; width:15px;
}

.kk-todolist-row .kk-todolist-desc{
	flex-grow:1; 
	width: calc(100% - 50px); 
	padding-left: 10px;
	padding-right: 10px;
}

.kk-todolist-row .kk-todolist-priority{
	margin-right:5px;
}